<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TemPOS.Properties.Settings.TemPOS_DBConnectionString"
            connectionString="Data Source=|DataDirectory|\TemPOS-DB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <runtime>

      <NetFx40_LegacySecurityPolicy enabled="true"/>
		
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
